<h1>Carrito de Compras</h1>

<%= link_to "Listado de productos", "/catalogo" %>
<%  form_for @compra do |f| %>
<table>
  <tr>
    <th>imagen</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
  </tr>
<% @carrito.lista_productos.each do |c| %>
  <tr>
    <td><%= image_tag c.imagen %></td>
    <td><%= c.nombre %></td>
    <td><%= c.precio %></td>
    <td><%= c.cantidad %></td>
    <td><%= c.subtotal %></td>
  </tr>
<% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= @carrito.total %></td>
  </tr>
</table>
<%= f.submit "Comprar" %>
<% end %>